@font-face {
    font-family: 'ia-writer-quattro';
    src: url('assets/iAWriterQuattroS-Regular.woff2') format('woff2');
}

body,
html {
    font-family: 'ia-writer-quattro';
    height: 100%;
    margin: 0;
}

#letter {
    position: absolute;
    max-width: 40vw;
    left: 10vw;
    padding-top: 10vh;
    padding-bottom: 5vh;
}

.p {
    border-radius: 50%;
    background-color: aliceblue;
    cursor: crosshair;
    color: green;
}

b {
    color: seagreen;
}

.changed {
    color: darkseagreen;
}