@font-face {
    font-family: 'ia-writer-quattro';
    src: url('assets/iAWriterQuattroS-Regular.woff2') format('woff2');
}

body,
html {
    font-family: 'ia-writer-quattro';
    height: 100%;
    margin: 0;
}

#letter {
    max-width: 40vw;
    margin: 0 auto;
    padding-top: 10vh;
    padding-bottom: 5vh;
    border-radius: 50%;
}

.p {
    border-radius: 50%;
    background-color: aliceblue;
    cursor: crosshair;
    color: green;
}